[Desktop Entry]
Version=1.0
Type=Application
Terminal=false
Exec=@BIN@ open
Icon=@ICON@
Name=Minimalist AI Workspace
GenericName=AI Chat & Workspace
Comment=Local AI workspace
Categories=Utility;Development;
StartupNotify=true
Actions=Summon;StartService;StopService;RestartService;

[Desktop Action Summon]
Name=Ask the assistant
Exec=@BIN@ summon

[Desktop Action StartService]
Name=Start Service
Exec=@BIN@ start

[Desktop Action StopService]
Name=Stop Service
Exec=@BIN@ stop

[Desktop Action RestartService]
Name=Restart Service
Exec=@BIN@ restart
